/* CSS STYLES */

/* global variables */
:root {
  --primary-color: #4f46e5; /* Indigo-600 */
  --secondary-color: #6b7280; /* Gray-500 */  
  --background-color: #f9fafb; /* Gray-50 */
  --text-color: #111827; /* Gray-900 */
  --border-radius: 0.375rem; /* Rounded-md */
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* Shadow-sm */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: var(--background-color);
  color: var(--text-color);
}

.navigation-bar {
  background: transparent;
}

.nav-links a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 0 10px;
}

.social-icons a {
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffc107;
  /* Accent color */
}

.hero {
  background-image: url('./images/hero.jpg');
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  z-index: 2;
  position: relative;
}

.App {
  font-family: 'Segoe UI', sans-serif;
}